[run]
relative_files = True
omit = tests/*
source =
    .tox/py39/Lib/site-packages/ingenialink
    .tox/py310/Lib/site-packages/ingenialink
    .tox/py311/Lib/site-packages/ingenialink
    .tox/py312/Lib/site-packages/ingenialink

; Specify that all these paths should be considered as a single package, otherwise
; it would duplicate the lines for each python version that has coverage data
; `ingenialink` path is included because the coverage step runs skipping installation in tox
; so it is needed to indicate that the site-packages and the cloned repo should be the same
[paths]
source =
    ingenialink
    .tox/py39/Lib/site-packages/ingenialink
    .tox/py310/Lib/site-packages/ingenialink
    .tox/py311/Lib/site-packages/ingenialink
    .tox/py312/Lib/site-packages/ingenialink

; Skip empty files
[report]
skip_empty = true
omit =
    */__init__.py