recursive-include ingenialink *.py
recursive-include ingenialink/cython_files *.pxd *.pyx *.cpp *.pyd
recursive-include ingenialink *.pyd
include virtual_drive_telemetry/Cargo.toml virtual_drive_telemetry/Cargo.lock virtual_drive_telemetry/build.rs
recursive-include virtual_drive_telemetry/c *.c *.h
recursive-include virtual_drive_telemetry/src *.rs
recursive-include virtual_drive_telemetry/tests *.rs
include Cargo.toml Cargo.lock
recursive-include _rust *.rs
