recursive-include ingenialink *.py
recursive-include ingenialink/cython_files *.pxd *.pyx *.cpp *.pyd
recursive-include ingenialink *.pyd
include telemetry/Cargo.toml telemetry/Cargo.lock telemetry/build.rs
recursive-include telemetry/c *.c *.h
recursive-include telemetry/src *.rs
recursive-include telemetry/tests *.rs
